body {
 
}

.gameArea{
	width:1000px;
	height:600px;
	float:left;
	margin:50px 0 50px 15%;
	position:relative;
}
#canv{
	z-index:1;
    width:1000px;
	height: 600px;
    display:none;
	position:absolute;
    background:linear-gradient(rgba(0,250,0,0.8),rgba(0,250,250,0.8),rgba(250,250,250,0.7));
}

#boom{
    display:none;
    background:linear-gradient(#00FF00,
     #000000, #00FF00);
     
}

#menu{
	display:block;
    color:#00FF00;
    font-size:30px;
    width:100%;
    height:100%;
    margin:0;
    text-align:center;
    position:absolute;
    background:linear-gradient(#FF0000, 
    #0000FF);
    
}

#menu h1{
margin:7px 0 0 0;
    height:70px;
}

#menu svg{
margin:0;
width:100%;
height:50%;
    background:grey;
}

#menu button{
    width:130px;
    height:60px;
    margin:5px;
    font-size:25px;
    background:#6600FF;
    color:#00FF00;
    border:#00FF00 3px solid;
    text-align:center;
}



#winx1, #winx2, #modes, #diff{
    width:250px;
    height:160px;
    position:absolute;
    margin:100px 40px 0 40px;
    color:#0000FF;
    background:#00FFFF;
    border:#0000FF 5px solid;
    text-align:center;
    display:none;
}

#winx1 h1, #winx2 h1{
    font-size:40px;
}
#winx1 button, #winx2 button, #modes button,
#diff button{
    font-size:17px;
    width:100px;
    height:40px;
    background:#0000FF;
    border:#000000 3px solid;
    color:#00FFFF;
}
#winx2{
    background:#FFFF00;
    border:#FF0000 5px solid;
    color:#FF0000;
}
#winx2 button{
    background:#FF0000;
    color:#FFFF00;
}
#modes, #diff{
    color:#00FF00;
    border:#00FF00 5px solid;
    background:linear-gradient(#0000FF,
    #FF0000);
    display:none;
}

#modes button, #diff button{
    margin:3px;
    background:#6600FF;
    color:#00FF00;
    border:#00FF00 3px solid;
}

#modes button:active, #diff button:active{
    border:#FF0000 3px solid;
}
.close{
    width:20px;
    height:7px;
    background:#FF0000;
    margin:0;
    float:right;
    border:#000000 1px solid;
}